.anydesk
.cache
.cargo
.console-ninja
.gnupg
.icons
.local
.mozilla
.npm
.oh-my-zsh
.pki
.screenlayout
.ssh
.vscode
Document/project
dotfiles
Downloads
node_modules
.bash_history
.xsession-errors
.xsession-errors.old
.config/BraveSoftware/
.config/Code/
.config/discord/
.config/astro
.config/create-next-app-nodejs
.config/dconf
.config/GIMP
.config/htop
.config/inkscape
.config/Insomnia
.config/Maui
.config/neofetch
.config/nextjs-nodejs
.config/pulse
.config/ranger
.config/Thunar
.config/volumeicon
.config/vxfce4
.config/yay
first-app-next
ligthdm-evo
nextjs-dashboard
package-lock.json
package.json
pnpm-lock.yaml
dotfiles
alacritty
.rustup